#cards {
  padding: 7%;
}

.card-img-top{
  padding: 1%;
}

#testimonios {
  padding: 2%;
  text-align: center;
}

#contacto {
  background-color: #FB7F73;
  color: aliceblue;
  padding: 5%;  
}

#contactanos {
  text-align: center;
  padding: 3%;
}

.iconos {
  text-align: center;
}